language: rust
rust:
- 1.38.0
services:
- docker
stages:
- test
- publish
jobs:
  include:
  - name: Linux - Node 8 - glibc
    os: linux
    env:
    - TRAVIS_NODE_VERSION="8"
    - SKIP_DEPLOY=0
    if: tag =~ /^\d+\.\d+\.\d+/ OR branch = master OR type = pull_request
  - name: Linux - Node 8 - musl
    os: linux
    env:
    - SKIP_DEPLOY=0
    - IMAGE=8-alpine
    - INDOCKER="docker exec target"
    if: tag =~ /^\d+\.\d+\.\d+/ OR branch = master OR type = pull_request
  - name: OSX - Node 8
    os: osx
    env:
    - TRAVIS_NODE_VERSION="8"
    - SKIP_DEPLOY=0
    if: tag =~ /^\d+\.\d+\.\d+/ OR branch = master OR type = pull_request
  - name: Linux - Node 10 - glibc
    os: linux
    env:
    - TRAVIS_NODE_VERSION="10"
    - SKIP_DEPLOY=0
    if: tag =~ /^\d+\.\d+\.\d+/ OR branch = master OR type = pull_request
  - name: Linux - Node 10 - musl
    os: linux
    env:
    - SKIP_DEPLOY=0
    - IMAGE=10-alpine
    - INDOCKER="docker exec target"
    if: tag =~ /^\d+\.\d+\.\d+/ OR branch = master OR type = pull_request
  - name: OSX - Node 10
    os: osx
    env:
    - TRAVIS_NODE_VERSION="10"
    - SKIP_DEPLOY=0
    if: tag =~ /^\d+\.\d+\.\d+/ OR branch = master OR type = pull_request
  - name: Linux - Node 12 - glibc
    os: linux
    env:
    - TRAVIS_NODE_VERSION="12"
    - SKIP_DEPLOY=0
    if: tag =~ /^\d+\.\d+\.\d+/ OR branch = master OR type = pull_request
  - name: Linux - Node 12 - musl
    os: linux
    env:
    - SKIP_DEPLOY=0
    - IMAGE=12-alpine
    - INDOCKER="docker exec target"
    if: tag =~ /^\d+\.\d+\.\d+/ OR branch = master OR type = pull_request
  - name: OSX - Node 12
    os: osx
    env:
    - TRAVIS_NODE_VERSION="12"
    - SKIP_DEPLOY=0
    if: tag =~ /^\d+\.\d+\.\d+/ OR branch = master OR type = pull_request

  - stage: publish
    name: Publish to npm
    os: linux
    env:
    - TRAVIS_NODE_VERSION="8"
    - SKIP_DEPLOY=1
    - secure: oI13TqF+IdOLQN6ebfibWux1p6Tsf6UXOpPWzxv9Jlte187I9Q4NekSb9unzX349BBUU8Gk2SeMujYnemOj0nPMUmGfT1iQhQRdzI7uhkUFS6kw6mt3bJ+7ynM46OwPKfeseVe8o5cZ3r+MqEIxFxtkCbPlspp9blmL4peoUcEF3gAx98yKG/TsPtdOEAwlRFR681wobdYPheMh8T6vjQMIORMG6O4Q7swkrGBztF0WsH+QeZhcGPjuH/SOKlULfQpMBqP8LSiTBvqfbBT2vgUqxeWlZUDkW/Jo8SmQKASgMReyc9whpNoiFQnGV/qKZO73hXSvPV6Y9RUqCTTdLxYIEOzsrCYiR5/IbGTCzRmvFyhGrfIR2zLuzaz9af6d4FqZFeZTiKqQwEVMew7+SjySMYIDuPEmivOJd6ENMzb2X01b87ymWf0lfOw/P1O3Pz6DgaZtutyPRVBHNBBushfKKlZ+KsRPll796TEm9VDT6wr8gqQmIH+qzHcmmkxztOMDJO315sWto5xMzAtadQPWJpJUMaop8Vho3L8EWnq3QY0LEhATZVlD1DI8b5ccjcG9C2aDlG5m89XKv+ghOeFE0E4h0DyYwCpA1ZAbTipk+JCBHFTk6dbIt1gW4lWNclSByJyJoAeQK127Eozv0n85669IwE41kfX0nGVO3ik8=
    if: tag =~ /^\d+\.\d+\.\d+/

    before_install:
    - npm config set //registry.npmjs.org/:_authToken=$NPM_TOKEN
    script:
    - echo "Deploying to NPM..."
    - node publish.js --publish
before_install:
- "./.travis/docker-start.sh"
install:
- source .travis/node-install.sh
notifications:
  email:
    on_success: change
    on_failure: always
cache:
  yarn: true
  cargo: true
  directories:
  - node_modules
before_script:
- "${INDOCKER} rustup component add rustfmt-preview"
- "${INDOCKER} yarn --ignore-scripts"
script:
- ${INDOCKER} /bin/sh -c "cd native/ && cargo fmt -- --check"
- "${INDOCKER} node publish.js"
deploy:
  provider: releases
  api_key:
    secure: A5e47+qgH0PyFQamjQlu9MwMD5WOVIaJerhXebyv1Z8kTs9X8Ut4v2J8Na4AQGIvnTJ3INhbc1R858iIF0klCVn9sKFhswxFGqwHZySvPQRBvaGHoEjVtd8XcZ1XjApV+Pm/8/CyFOFvtJpRWIsjvioZrI9+HG9WEthe11CJHC9wv+c3QRrPhUSw0gbxf7GM8W/5ojECJHlf6hQWgFDJX0OOP2cu39/LsCxR4mpyhbQR6eTWC9JE9Qfs3jixEh+KPjycgp8GOVUI2v30p5tYB8y8nMnFVxictQFjL7LuCgcD3EO0tZVhTCRay1ar5LPfQw58Fp2ktd5Hi5o7Qmza1Jn+1LJqhvawaFLMESVtOvspuujQbybe0WSjKDrLBh8X6IB9J13YvDTHM+TTQGsF+QLMV9IsIlUNp1fJErsp8d2oc90s0TBOfe4a+ywF7KZ2pmDsG/5wfwIBcU7LWMpiDoOMDJQGUNxCPbRP8DR+xYK/yDXMjBwDmzxTOeeipfzRv5kR0rOwlDb1NxIZOLxgvC4TjrA0mu8aObx4izuk19LHoeKuoHAn1IUSiBecM6VMJ0ZcM4ZmWWvMpp1wLpdCuNAwivO/365t/+hHzWwizxQ6Xechl/FMY5pdH08Y00ig9Z2YnWyOsdqlbDkqggeymY/HPMH/5/+iBf9e0JgymeU=
  file_glob: true
  file: bin/*.tar.gz
  cleanup: false
  on:
    tags: true
  name: Version $TRAVIS_TAG
