
language: rust
rust:
- 1.38.0
services:
- docker
stages:
- publish
jobs:
  include:
  - name: Linux - Node 8 - glibc
    os: linux
    env:
    - TRAVIS_NODE_VERSION="8"
    - SKIP_DEPLOY=0
    if: tag =~ /^\d+\.\d+\.\d+/ OR branch = master OR type = pull_request
  - name: Linux - Node 8 - musl
    os: linux
    env:
    - SKIP_DEPLOY=0
    - IMAGE=8-alpine
    - INDOCKER="docker exec target"
    if: tag =~ /^\d+\.\d+\.\d+/ OR branch = master OR type = pull_request
  - name: OSX - Node 8
    os: osx
    env:
    - TRAVIS_NODE_VERSION="8"
    - SKIP_DEPLOY=0
    if: tag =~ /^\d+\.\d+\.\d+/ OR branch = master OR type = pull_request
  - name: Linux - Node 10 - glibc
    os: linux
    env:
    - TRAVIS_NODE_VERSION="10"
    - SKIP_DEPLOY=0
    if: tag =~ /^\d+\.\d+\.\d+/ OR branch = master OR type = pull_request
  - name: Linux - Node 10 - musl
    os: linux
    env:
    - SKIP_DEPLOY=0
    - IMAGE=10-alpine
    - INDOCKER="docker exec target"
    if: tag =~ /^\d+\.\d+\.\d+/ OR branch = master OR type = pull_request
  - name: OSX - Node 10
    os: osx
    env:
    - TRAVIS_NODE_VERSION="10"
    - SKIP_DEPLOY=0
    if: tag =~ /^\d+\.\d+\.\d+/ OR branch = master OR type = pull_request
  - name: Linux - Node 12 - glibc
    os: linux
    env:
    - TRAVIS_NODE_VERSION="12"
    - SKIP_DEPLOY=0
    if: tag =~ /^\d+\.\d+\.\d+/ OR branch = master OR type = pull_request
  - name: Linux - Node 12 - musl
    os: linux
    env:
    - SKIP_DEPLOY=0
    - IMAGE=12-alpine
    - INDOCKER="docker exec target"
    if: tag =~ /^\d+\.\d+\.\d+/ OR branch = master OR type = pull_request
  - name: OSX - Node 12
    os: osx
    env:
    - TRAVIS_NODE_VERSION="12"
    - SKIP_DEPLOY=0
    if: tag =~ /^\d+\.\d+\.\d+/ OR branch = master OR type = pull_request
  - stage: publish
    name: Publish to npm
    os: linux
    env:
    - TRAVIS_NODE_VERSION="8"
    - SKIP_DEPLOY=1

      # NPM_TOKEN
      - secure: oI13TqF+IdOLQN6ebfibWux1p6Tsf6UXOpPWzxv9Jlte187I9Q4NekSb9unzX349BBUU8Gk2SeMujYnemOj0nPMUmGfT1iQhQRdzI7uhkUFS6kw6mt3bJ+7ynM46OwPKfeseVe8o5cZ3r+MqEIxFxtkCbPlspp9blmL4peoUcEF3gAx98yKG/TsPtdOEAwlRFR681wobdYPheMh8T6vjQMIORMG6O4Q7swkrGBztF0WsH+QeZhcGPjuH/SOKlULfQpMBqP8LSiTBvqfbBT2vgUqxeWlZUDkW/Jo8SmQKASgMReyc9whpNoiFQnGV/qKZO73hXSvPV6Y9RUqCTTdLxYIEOzsrCYiR5/IbGTCzRmvFyhGrfIR2zLuzaz9af6d4FqZFeZTiKqQwEVMew7+SjySMYIDuPEmivOJd6ENMzb2X01b87ymWf0lfOw/P1O3Pz6DgaZtutyPRVBHNBBushfKKlZ+KsRPll796TEm9VDT6wr8gqQmIH+qzHcmmkxztOMDJO315sWto5xMzAtadQPWJpJUMaop8Vho3L8EWnq3QY0LEhATZVlD1DI8b5ccjcG9C2aDlG5m89XKv+ghOeFE0E4h0DyYwCpA1ZAbTipk+JCBHFTk6dbIt1gW4lWNclSByJyJoAeQK127Eozv0n85669IwE41kfX0nGVO3ik8=
    if: tag =~ /^\d+\.\d+\.\d+/
    before_install:
    - npm config set //registry.npmjs.org/:_authToken=$NPM_TOKEN
    script:
    - echo "Deploying to NPM..."
    - node publish.js --publish
before_install:
- "./.travis_scripts/maybe-start-docker.sh"
install:
- source .travis_scripts/maybe-install-node.sh
notifications:
  email:
    on_success: change
    on_failure: always
cache:
  yarn: true
  cargo: true
  directories:
  - node_modules
before_script:
- "${INDOCKER} rustup component add rustfmt-preview"
- "${INDOCKER} yarn --ignore-scripts"
script:
- ${INDOCKER} /bin/sh -c "cd native/ && cargo fmt -- --check"
- "${INDOCKER} node publish.js"
deploy:
  provider: releases
  api_key:
    secure: vTTLT9MNcSg2ZBr3Koq+FfT/ofZ7bIC5e5k+kX6OgjpYijy+wIEMvOR9HuNgOgmFTOftzXdN53j8xxm4xOYYoTV1AnUAOMfuN4sekLNEI1pGjHnC18waL5cdqmhz0sjmVehE2tcIbORGmtPivJJzNn07Ycq0p8uCcwivexE3ChhYCXIy3w0i2pHTZospbMSSgZ4szNB+hPLmMYH5h4S1DmJHTGrovwi/sxXbKNsdHuopViOngpBmHc8yEfSxAiHSXWJVPj2kwDxBo4ONhorSw7cLFB1tDC4zk8aHVFTo94CSV3rSF9kwZEIhkkWi35epFlOWw8im8QvivYCz/p8ISkr+NZlL5cmTpsgh6vdTAu3IrvMgr4NDL3tqgfvseBUJrGpi+9d1SwM1gT/Vo3E1v4pVPMpxBakiwtsUFMAnBfBELiQgLehZCb2QlAB42tOVMfNkeEZIqZpWIiywMoBZmXDn6aTNaG1LQ0DVUhtXvFEaFBLiWqhtx16f5bmiG8rCzflUL0aQdOBGoFuX1HWrSrIa336znko9+ztLLIPEXB3+lwv+XHmYmrKrtTI9smH3J+n/4KDo2ycPIt/GOb84kHcv8vxcuE6Qe1fAVKREQkX/mFNwOZCzgSrSIjJi8yr2/dNWO9hSDFKWtVc2OB6TzTGuUtcH6Mpoer3GCfBKA+U=
  file_glob: true
  file: bin-package/*.tar.gz
  skip_cleanup: true
  on:
    tags: true
    condition: "$SKIP_DEPLOY = 0"
  name: Version $TRAVIS_TAG
